/* &display=swap */

@import "null.css";

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* ================================================================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ================================================================ */

body {
	font-family: "CircularStd", sans-serif;
	color: rgba(49, 49, 49, 1);
	max-width: 1440px;
	margin: auto;
}

.top {
	font-weight: 400;
	font-size: 65px;
	text-align: center;
	margin: 30px 0 20px;
	line-height: 1.265;
}

.text-1 {
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	margin: 0 auto 224px;
	line-height: 1.265;
	max-width: 750px;
	color: rgba(95, 95, 95, 1);
}

.block {
	margin-left: 207px;
}
.text-1-block {
	font-weight: 700;
	font-size: 34px;
	margin: 0 0 20px;
	line-height: 1.3;
}
.text-2-block {
	max-width: 508px;
	font-weight: 400;
	font-size: 18px;
	margin: 0px 0 125px;
	line-height: 1.55;
	color: rgba(95, 95, 95, 1);
}
.text-3-block {
	font-weight: 700;
	font-size: 18px;
	margin: 0 0 5px;
	line-height: 1.3;
}
.text-4-block {
	font-weight: 400;
	font-size: 18px;
	margin: 0 0 20px;
	line-height: 1.265;
	color: rgba(184, 184, 184, 1);
}
.img-body {
	margin-left: 207px;
}
